<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{page.titulo}}</title>
        
        <link rel="icon" href="i/favicon.png" type="image/x-icon">
        
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/nana.css" id="theme">
        <link rel="stylesheet" href="css/framework.css">
        <link rel="stylesheet" href="css/gist.css"/>

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
        
<!--        <link href="css/style.css" rel="stylesheet" />-->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>   

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-background="#000000">
					<section>
                        <img src="i/Nana_Logo_white.png" class="width100">
                        <p class="font_first uppercase font32 white">
                            Tutorial
                        </p>
                        <p class="font_second uppercase font62 white">
                            Chapéu com som<br>bluetooth
                        </p>
				    </section>
                    
                    <section data-background="i/G-Bluetooth/Chapéu Bluetooth_FullHD.gif">
                    </section>
                    
                    <section>
                        <p class="font_first uppercase font62 white">{{page.titulo}}</p>
                        <p class="font_second font28 white top55">
                            Um chapéu que produz sons conforme o usuário toca as teclas de um piano em um aplicativo no celular. A conexão entre o chapéu e o aplicativo é feita por bluetooth. 
                        </p>
                        <p class="font_second font28 white">
                           Tutorial avançado para aprender a fazer a interface sem fio entre o wearable e um aplicativo. A programação da campainha é feita em Arduino. 
                        </p>
<!--
                        <p class="font_first font22 white top35">
                            Adaptada do projeto de Irene Posch.
                        </p>
-->
				    </section>
                    
                    <section data-background="#ffaf96">
                        <div>
                            <div class="row bg_brown top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Módulos</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                              <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/Módulo_Campainha_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">1 x módulo extensor</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/módulo_conector P_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">2 x módulo conector</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/Módulos_arduíno completo_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">1 x módulo arduino</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#ffaf96">
                        <div>
                            <div class="row bg_brown top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Materiais Extras</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/Powerbank P_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">Power Bank</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/Consumíveis_alfinete_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">4 x Alfinete</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/Consumíveis_cola_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">Linha e agulha ou cola</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#ffaf96">
                        <div>
                            <div class="row bg_brown top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Materiais Extras</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/Módulo_bluetooth_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">Circuito Bluetooth</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/Materiais_cabo bluetooth_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">Cabos</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/Cabos_USB micro_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">cabo USB (USB A - micro USB)</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#000000">
                        <div>
                            <div class="row bg_orange top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Conexão do circuito bluetooth</p>
                            </div>
                            </div>
                            <div>
                          <div class="row">
                            <div class="col-xs-6 font_second top20 bottom20">
                              <p class="font_first font26 white text_right right35">HC 05</p>
                            </div>
                            <div class="col-xs-6 font_second top20 bottom20">
                              <p class="font_first font26 white text_left left35">Arduino</p>
                            </div>
                          </div>
                          <div class="col-xs-12">
                              <p class="font_light font26 white text_center">RX _______________ TX</p>
                              <p class="font_light font26 white text_center">TX _______________ RX</p>
                              <p class="font_light font26 white text_center">+5V _______________ VCC</p>
                              <p class="font_light font26 white text_center">GND _____________ GND</p>
                          </div>
                        </div>   
                        </div>
					</section>
                    
                    <section data-background="#000000">
                        <div>
                            <div class="row bg_orange top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Conexão do circuito bluetooth</p>
                            </div>
                            </div>
                            <div>
                          <div class="col-xs-12">
                              <img src="i/G-Bluetooth/chapeu bluetooth_parear_baixa_branco.png" class="">
                              <p class="font_first font26 white text_center uppercase">Parear Bluetooth</p>
                              <p class="font_light font20 white text_center">Usar um celular android e Ligar o bluetooth.</p>
                              <p class="font_light font20 white text_center">Encontrar o dispositivo HC-05. Parear coma a senha 1234</p>
                          </div>
                        </div>   
                        </div>
					</section>
                    
                    <section data-background="#000000">
                        <div>
                            <div class="row bg_orange top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Upload do código</p>
                            </div>
                          </div>
                        </div>
                        <div class="col-xs-12">
                            <script src="https://gist.github.com/linalopes/17f24df360fee1ddd38bbb0c47252f26.js"></script>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/G-Bluetooth/chapeu bluetooth_conexão dos módulos (S)_baixa_preto.png" class="height300">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">1. CONEXÃO DOS MÓDULOS (S)</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Ligue o Sinal (S) do módulo campainha (botão macho) na Porta 9 do módulo Arduino, utilizando o módulo conector.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/G-Bluetooth/chapeu bluetooth_conexão dos módulos (GND)_baixa_preto.png" class="height300">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">2. CONEXÃO DOS MÓDULOS (GND)</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Ligue o Ground (GND) do módulo campainha (botão fêmea) na Porta GND do módulo Arduino, utilizando o módulo conector.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/G-Bluetooth/chapeu bluetooth_conexão do power bank_baixa_preto.png" class="height300">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">3. CONEXÃO DO POWER BANK</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Ligue o cabo USB (micro USB) na Porta micro USB do módulo Arduino. Em seguida ligue o cabo USB (USB A) no Power Bank. O módulo campainha irá emitir um som de 5 em 5 segundos.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#000000">
                        <div>
                            <div class="row bg_orange top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">APP inventor</p>
                            </div>
                            </div>
                            <div>
                          <div class="col-xs-12">
                              <p class="font_light font26 white text_center">1. Baixar o APP AI2 Companion no celular Android</p>
                              <p class="font_light font26 white text_center">2. É possível baixar o arquivo NANA_PIANO.APK ou scanear o QR Code.</p>
                              <p class="font_light font26 white text_center">3. Abra o programa e conecte o bluetooth</p>
                          </div>
                        </div>   
                        </div>
					</section>
                    
                    <section data-background="#ffffff">
                        <div>
                            <div class="row bg_brown top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Materiais para aplicação</p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 top20 bottom20">
                              <img src="" >
                              <p class="font_second font14 black uppercase top45"></p>
                            </div>
                            <div class="col-xs-4 top20 bottom20">
                              <img src="i/G-Bluetooth/G. Chapéu com bluetooth_1-Chapeu_baixa.jpg">
                              <p class="font_second font14 black uppercase top45">Chapéu</p>
                            </div>
                            <div class="col-xs-4 top20 bottom20">
                              <img src="">
                              <p class="font_second font14 black uppercase top45"></p>
                            </div>
                          </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Sugestão de Aplicação</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-6 top20 bottom20">
                              <img src="i/G-Bluetooth/G. Chapéu com bluetooth_2-Aplicação_baixa.jpg" >
                              <p class="font_light font14 black uppercase top15 left25 right25">Com o circuito pronto, é possível aplicá-lo ao seu chapéu de diversas formas. Sugerimos costurar ou colar alfinetes nos módulos campainha e Arduino para fixá-los à aba do chapéu.</p>
                            </div>
                            <div class="col-xs-6 top20 bottom20">
                              <img src="i/G-Bluetooth/G. Chapéu com bluetooth_3-Uso_baixa.jpg">
                              <p class="font_light font14 black uppercase top15 left25 right25">Sugerimos também utilizar o módulo conector longo para ser possível circundar toda a área do chapéu. Bem como optar por um Power Bank pequeno, que combine com o design do chapéu.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#000000">
                        <img src="i/Nana_Logo_white.png" class="width100">
                        <p class="uppercase font_second top50 bottom50">Obrigada!</p>
                        <p class="font_first font28"><a href="?print-pdf">www.nana-kit.com</a></p>
				    </section>
                    
                    <section data-background="#000000">
                        <p>Exportar para <a href="?print-pdf">PDF</a></p>
                    </section>

				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/search/search.js', async: true },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
