<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>{{page.titulo}}</title>
        
        <link rel="icon" href="i/favicon.png" type="image/x-icon">
        
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/nana.css" id="theme">
        <link rel="stylesheet" href="css/framework.css">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>
        
<!--        <link href="css/style.css" rel="stylesheet" />-->
		<script src="js/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>   

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section data-background="#000000">
					<section>
                        <img src="i/Nana_Logo_white.png" class="width100">
                        <p class="font_first uppercase font32 white">
                            Tutorial
                        </p>
                        <p class="font_second uppercase font62 white">
                            Luva<br>para Bike
                        </p>
				    </section>
                    
                    <section data-background="i/A-Luva/nana-gifs-site_luva.gif">
                    </section>
                    
                    <section>
                        <p class="font_first uppercase font62 white">{{page.titulo}}</p>
                        <p class="font_second font28 white top55">
                            Uma luva para ciclistas ampliarem sua visibilidade no trânsito. Costurada com linha condutiva, permite que um movimento com a mão feche o circuito acendendo um LED, que funciona como “dar seta”.
                        </p>
                        <p class="font_second font28 white">
                            Ideal para introduzir-se no aprendizado de como funcionam circuitos elétricos e ter o primeiro contato com materiais condutivos flexíveis.
                        </p>
                        <p class="font_first font22 white top35">
                            Adaptada do projeto de Irene Posch.
                        </p>
				    </section>
                    
                    <section data-background="#ffaf96">
                        <div>
                            <div class="row bg_brown top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Módulos</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/Módulo_Bateria_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">1 x módulo bateria</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/módulo_conector P_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">2 x módulo conector P</p>
                            </div>
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/modulos/Módulo_LED_baixa_preto.png" class="">
                              <p class="font_second font18 black uppercase">1 x módulo LED</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#ffffff">
                        <div>
                            <div class="row bg_brown top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Materiais para aplicação</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-3 font_second top80 bottom20">
                              <img src="i/LINHA_preto_baixa_preto.png" class="height200">
                              <p class="font_second font18 black uppercase top45">Linha condutiva</p>
                            </div>
                            <div class="col-xs-3 font_second top80 bottom20">
                              <img src="i/Ferramentas_agulha_baixa_preto.png" class="height200">
                              <p class="font_second font18 black uppercase top45">Agulha</p>
                            </div>
                            <div class="col-xs-3 font_second top80 bottom20">
                              <img src="i/LUVA_Luva_baixa_preto.png" class="height200">
                              <p class="font_second font18 black uppercase top45">Luva</p>
                            </div>
                            <div class="col-xs-3 font_second top80 bottom20">
                              <img src="i/Consumível_botão.png" class="height200">
                              <p class="font_second font18 black uppercase top45">4 x botão imantado</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/A-Luva/LUVA_costura-manual-reta_baixa_preto.png" class="height400">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">1. COSTURA MANUAL (RETA)</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Passe a linha condutiva na agulha. Faça três costuras manuais em linha reta, utilizando linha condutiva, conforme indicado na ilustração. Atente-se para não unir as costuras, interrompendo a mesma nos locais indicados por X  na ilustração.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/A-Luva/LUVA_costura-manual-(toque)_baixa_preto.png" class="height400">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">2. COSTURA MANUAL (CONTATO)</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Passe a linha condutiva na agulha. Faça três costuras manuais em linha reta, utilizando linha condutiva, conforme indicado na ilustração. Atente-se para não unir as costuras, interrompendo a mesma nos locais indicados por X  na ilustração.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/A-Luva/LUVA_aplicacão-dos-botões_baixa_preto.png" class="height400">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">3. APLICAÇÃO DOS BOTÕES</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Aplique dois botões macho e dois botões fêmea nas extremidades da costura conforme indicado na ilustração. Atente-se para aplicar o botão em contato com a linha condutiva, para não interromper o circuito.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/A-Luva/LUVA_aplicação-do-módulo-LED_baixa_preto.png" class="height400">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">4. APLICAÇÃO DO MÓDULO LED</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Ligue uma extremidade do módulo conector no botão B, e a outra extremidade no lado positivo do módulo LED (botão fêmea). Ligue o lado negativo do módulo LED (botão macho) no botão A.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/A-Luva/LUVA_aplicação-do-módulo-bateria_baixa_preto.png" class="height400">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">5. APLICAÇÃO DO MÓDULO BATERIA</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Ligue uma extremidade do módulo conector no botão C, e a outra extremidade no lado negativo do módulo bateria (botão fêmea). Ligue o lado positivo do módulo bateria (botão macho) no botão D.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#e6e6e6">
                        <div>
                            <div class="row bg_dark_gray top0 bottom30">
                            <div class="col-xs-10 font_second">
                              <p class="font_second font18 uppercase text_left white top10 left25">{{page.titulo}}</p>
                              <p class="font_second font32 uppercase text_left white left25">Montagem</p>
                            </div>
                          </div>
                        </div>
                        <div>
                          <div class="row">
                            <div class="col-xs-4 font_second top20 bottom20">
                              <img src="i/A-Luva/LUVAS_acionamento de circuito_baixa_preto.png" class="height400">
                            </div>
                            <div class="col-xs-8 font_second top20 bottom20">
                              <p class="font_second font32 black text_left uppercase left45 right15">6. ACIONAMENTO DO CIRCUITO</p>
                                <p class="font_light font28 black text_left left45 right45 top45 bottom20">Ao fechar a mão utilizando a luva, o circuito irá se fechar com o contato entre o lado do módulo LED (dedo indicador) e o lado do módulo bateria (dedo polegar). O LED irá acender.</p>
                            </div>
                          </div>
                        </div>
					</section>
                    
                    <section data-background="#000000">
                        <img src="i/Nana_Logo_white.png" class="width100">
                        <p class="uppercase font_second top50 bottom50">Obrigada!</p>
                        <p class="font_first font28"><a href="?print-pdf">www.nana-kit.com</a></p>
				    </section>
                    
                    <section data-background="#000000">
                        <p>Exportar para <a href="?print-pdf">PDF</a></p>
                    </section>

				</section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/search/search.js', async: true },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
